@model IEnumerable<WebApplicationForWarehouseManagementOfOfficeSupplies.Models.Request>

<div class="container">
    <h2 class="text-center">Pending Orders for Your Company</h2>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }


    <table class="table">
        <thead>
            <tr>
                <th>Request ID</th>
                <th>Requested By</th>
                <th>Products</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model)
            {
                <tr>
                    <td>@request.RequestID</td>
                    <td>@request.User.FirstName @request.User.LastName</td>
                    <td>
                        <ul>
                            @foreach (var product in request.RequestProducts)
                            {
                                <li>@product.ProductBrand @product.ProductModel</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (var product in request.RequestProducts)
                            {
                                <li> @product.Quantity pcs.</li>
                            }
                        </ul>
                    </td>
                    <td>@request.Status</td>
                    <td>
                        <a asp-controller="PendingOrders" asp-action="CompanyOrderDetails" asp-route-id="@request.RequestID" class="btn btn-primary btn-sm">View</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
